<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edi Task</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/new_task.css" %}">
    <link rel="shortcut icon"  href="{% static "icons/nouvelle-taches.png" %}">
</head>
<body>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
        <button type="submit">Delete</button>
    </form>

</body>
</html>